<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Транзакция</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="containerm">
    <h1>Внесение суммы</h1>
    <form action="/amount/add" method="post">
        <input type="text" name="billId" placeholder="Введите ID вашего счета" class="form-control">
        <input type="text" name="amount" placeholder="Введите сумму, которую хотите пожертвовать" class="form-control">
        <button type="submit" class="btn yoyoy">Пополнить</button>
    </form>
</div>

<!--<div th:insert="block/footer :: footer"></div>-->
</body>
</html>