<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Транзакция</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div class="containerm">
  <h1>Изменение суммы</h1>
  <form action="/transaction/make" method="post">
    <input type="text" name="user" size="40" maxlength="40" placeholder="Введите ваше имя" class="form-control">
    <input type="text" name="amount" size="40" maxlength="40" placeholder="Введите сумму пожертвования         " class="form-control">
    <button type="submit" class="btn yoyoy">Внести пожертвование в молодежный фонд</button>
  </form>
</div>

<!--<div th:insert="block/footer :: footer"></div>-->
</body>
</html>
